* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


body {
background-color: #fff5f8;
color: #333;
}


header {
background-color: #f8c8dc;
text-align: center;
padding: 30px 20px;
}



header h1 {
color: #5a2a3c;
}


.tagline {
margin-top: 10px;
color: #6d3b50;
}


nav {
display: flex;
justify-content: center;
gap: 20px;
background-color: #f4a9c4;
padding: 15px;
}

nav a {
text-decoration: none;
color: #fff;
font-weight: bold;
}


nav a:hover {
text-decoration: underline;
}


main {
display: flex;
gap: 20px;
padding: 20px;
}

article {
flex: 3;
}


article section {
background-color: #ffffff;
margin-bottom: 20px;
padding: 20px;
border-radius: 8px;
}


article h2 {
margin-bottom: 10px;
color: #b04a6f;
}



.skills-container {
display: flex;
gap: 10px;
flex-wrap: wrap;
}

.skill-card {
background-color: #f8c8dc;
padding: 10px 15px;
border-radius: 6px;
font-size: 14px;
}


aside {
flex: 1;
background-color: #ffffff;
padding: 20px;
border-radius: 8px;
text-align: center;
}


aside img {
    width: 100%;
    height: 280px;
    border-radius: 20px;
    object-fit: cover;
}



footer {
background-color: #f4a9c4;
text-align: center;
padding: 15px;
color: #fff;
margin-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
main {
flex-direction: column;
}
}